body {
    background-image: url('source/WALLPAPER.jpg');
    background-size: cover;
    background-position: center;
}

#btn-no {
    position: absolute;
    z-index: 9999; /* Siempre encima de todo */
}